.header {
    display: flex;
    background: #253a4a;
    justify-content: space-between;
    align-items: center;
    
}
.header_logo {
    width: auto;
    height: 70px;
    margin-left: 100px;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 200px;
    gap: 16px;
}