.header {
    display: flex;
    background: #253a4a;
}
.header_logo {
    width: auto;
    height: 70px;
}
a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}